
# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore specific folders
/code/.idea/
/data/original/*
/data/processed/*

# Exceptions for specific files
!/data/processed/meta/RandomSequences.txt
!/data/processed/meta/hmovTestMeta.json
!/data/processed/meta/hmovTrainMeta.json

# Ignore file types
*.DS_store
**/.smbdelete*
**/Untitled*


