
# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore specific folders
/code/.idea/
/data/original/*
/data/processed/scenes/*
/data/processed/sequences/*

# Exceptions for specific files
/data/original/INFO.md
!/data/processed/meta/*
!/data/processed/meta/RandomSequences.txt
!/data/processed/meta/hmovTestMeta.json
!/data/processed/meta/hmovTrainMeta.json
!/data/processed/scenes/hmovTest_v3_424x264_scene-001.avi
!/data/processed/sequences/hmovTest.avi

# Ignore file types
*.DS_store
**/.smbdelete*
**/Untitled*


